@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
}
body{
    color: #fff;
    background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
    min-height: 100vh;
}
header,form{
    min-height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
form input, form button{
    padding: .5rem;
    font-size: 2rem;
    border: none;
    background-color: #fff;
}
form button{
    color: #243949;
    background-color: #fff;
    cursor: pointer;
    transition: all .3s ease;
}
form button:hover{
    background-color: #243949;
    color: #fff;
}
.list-conteiner{
    display: flex;
    justify-content: center;
    align-items: center;
}
.list{
    min-width: 30%;
    list-style: none;
}
.to_do{
    margin: .5rem;
    background-color: #fff;
    color: #333;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all .5s ease-in-out;
}
.to_do li{
    flex: 1;
}
.complete-btn, .trash-btn{
    background-color: #243949;
    color: #fff;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}
.complete-btn{
    background-color: green;
}
.to_do_item{
    padding: 0rem .5rem;
    
}
.fa-trash, .fa-check{
    pointer-events: none;
}
.completo{
    text-decoration: line-through;
    opacity: .7;
}
.fall{
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}
select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    width: 10rem;
    cursor: pointer;
    color: #243949;
    padding: 1rem;
}
.select{
    margin: 1rem;
    position: relative;
    overflow: hidden;
}
.select::after{
    content: '\25bc';
    position: absolute;
    background-color: #243949;
    top:0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
    transition: all .3s ease;
}
.select:hover::after{
    background-color: #fff;
    color: #243949;
}